<h3> GW has decided to suspend in-person instruction until at least April 5 in order to mitigate the spread of COVID-19. As a result, this Software Carpentry workshop has been cancelled.</h3><p>We’ll be providing more information later this week on ways we can support you in learning on your own, with opportunities for you to consult virtually with us as you progress through the workshop materials available online, should you choose to do so.</p>
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
